@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    display: initial;
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(to bottom right, rgba(88, 28, 135, 0.8), white);
  }

  .bg-gradient-swap {
    background: linear-gradient(
      to bottom right,
      white,
      rgba(255, 255, 255, 0.85)
    );
  }

  .text-gradient-pink-yellow {
    background: linear-gradient(
      to bottom right,
      rgb(255, 0, 255),
      rgb(255, 255, 0)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-green-blue {
    background: linear-gradient(
      to bottom right,
      rgb(0, 255, 21),
      rgb(0, 234, 255)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .opt-drop-shadow {
    box-shadow: rgba(16, 126, 210, 0.4) 0px 10px 36px 0px,
      rgba(11, 119, 214, 0.4) 0px 0px 0px 1px;
  }
}
